.card-personagem {
    width: 400px;
    border: 2px solid #000;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3294117647);
    
    &:hover {
        transform: scale(1.05);
    }

    img {
        width: 100%;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .info {
        padding: 20px;

        h1 {
            font: 600 26px "Poppins";
            line-height: 22px;
            color: var($vermelho);
        }

        p {
            font: 400 14px "Poppins";
            line-height: 22px;
            color: #4e4a4a;
            height: 200px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 8px;
              }
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
           &::-webkit-scrollbar-thumb {
                background-color: #b1b1b1;
                border-radius: 20px;
            }
        }
    }
}